{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "expect": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0,
    // Temporarily disabled due to babel-eslint issues:
    "block-scoped-var": 0,
    "padded-blocks": 0,
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "new-cap": ["error", { "properties": false }],
    "space-before-function-paren": ["error", "never"]
  }
}
